body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5ed;
}

h1 {
    color: #5d7f82;
}

h2 {
    color: #d08080;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #5d7f82;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #446161;
}

#stairContainer {
    margin: 20px auto;
    position: relative;
    width: 120px;
    height: 400px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    display: flex;
    flex-direction: column-reverse; /* Stairs stack from bottom to top */
    align-items: center;
}

.stair {
    width: 100px;
    height: 40px;
    background-color: black;
}

#stickFigure {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
